.bg{
  background: url("../../asseds/Background-img.svg") no-repeat center center;
  background-size: cover;
  height: 80vh
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Public+Sans:wght@100;200;300;400;500;600&display=swap");
.nav-font{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14.6px;
}

.font{
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.nav-padding {
  padding: 0 0 0 7.5rem;
  gap: 30px;
}
ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: lighter;
}

ul li a.active {
  color: #000;
}

.nav-btn{
  border: 1px solid white;
  padding: 5px;
  color: white;
}

.position-nav{
  position: absolute;
  top: 0;
  left: 5rem;
}

.hero-align{
  text-align: center;
}

.bg-color{
  background-color: #fff;
  padding: 2rem 0;
  width: 100%;
  box-shadow: 5px 5px 3px -5px;
}

.position-card{
position: absolute;
top: 28rem;
left: 44rem;
width: 75%;

}

.border-card{
  border-left: 1px solid black;
}

.btn1{
  background-color: #4A60A1;
  border: none;
  padding: 5px 20px;
  color: white;
}

@media (max-width: 768px) {
  .display{
    display: none;
  }
  .nav-padding {
    padding: 0;
    gap: 30px;
  }
  .position-nav{
    position: absolute;
    top: 0;
    left: 0rem;
  }
  .hero-align{
    text-align: center;
    margin: 0 0 0 0.2rem;
  }

  .position-card{
    position: absolute;
    top: 30rem;
    left: 13rem;
    width: 80%;
    }
    .card-p{
      padding: 2rem 0 0 0;
    }
}